body{
margin:0;
background:#79d7ff;
overflow:hidden;
font-family:Arial;
}

h1{
position:absolute;
top:20px;
width:100%;
text-align:center;
color:white;
text-shadow:3px 3px black;
font-size:42px;
}

#bird{
position:absolute;
left:-200px;
top:150px;
width:140px;
transition:0.05s;
cursor:pointer;
}

#score{
position:absolute;
left:20px;
top:20px;
font-size:30px;
color:white;
text-shadow:2px 2px black;
}